<div class="container">
    <table class="table">
        <tbody>
            <tr *ngFor="let message of messages">
                {{ message }}
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-12">
            <h1>Mes articles</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-2" *ngFor="let article of articleList">
            <h2>{{ article.title }}</h2>

            <p>{{ article.body }}</p>
        </div>
    </div>
</div>
